<!DOCTYPE html>
<html>

<head>
<title>Registrar Empresa</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>

<body class="login-body">

<div class="form-container">

<h2>🏢 Registrar Empresa</h2>

<form method="POST">

<input type="text" name="empresa" placeholder="Nombre empresa" required>

<input type="text" name="nombre" placeholder="Nombre dueño" required>

<input type="email" name="email" placeholder="Email dueño" required>

<input type="password" name="password" placeholder="Password" required>

<button type="submit">Crear Empresa</button>

</form>

</div>

</body>
</html>